* {
    text-align: center;
    margin: auto;
    padding: 0;
}
#photo img {
    background-color: aqua;
    width: 200px;
    height: 400px;
}
h3{
    border: 2px solid green;
    text:white;
}
footer{ /*This is my Css Brent*/
    border: dotted 5px forestgreen;
    background-color: burlywood;
}
footer p{
    color: royalblue;
    letter-spacing: 2px;
    word-spacing: 4px;
}